<div class="benefits">
  <div class="main-content">
    <div class="body">
      <h2 class="title">Sử dụng CodeMaster để làm gì?</h2>
      <div class="card-list">
        <!-- item 1 -->
        <div class="card-item">
          <div class="info">
            <img
              src="./images/img/box-reason-main-1.png"
              alt="Tư duy logic"
              class="image"
            />
            <div class="content">
              <p class="desc sub-title">Học ngôn ngữ mới</p>
              <p class="desc">
                Giải quyết thử thách bằng ngôn ngữ bạn thành thạo, sau đó thử
                lại bằng ngôn ngữ bạn muốn cải thiện. Nâng cao trình độ qua
                nhiều ngôn ngữ khác nhau
              </p>
            </div>
          </div>
        </div>

        <!-- item 2 -->
        <div class="card-item">
          <div class="info">
            <img
              src="./images/img/box-reason-main-2.png"
              alt="Sáng tạo"
              class="image"
            />
            <div class="content">
              <p class="desc sub-title">Cạnh tranh cùng bạn bè</p>
              <p class="desc">
                Thi đấu với bạn bè, đồng nghiệp, và cộng đồng lập trình. Để sự
                cạnh tranh thúc đẩy bạn trở nên giỏi hơn mỗi ngày trong lĩnh vực
                của mình.
              </p>
            </div>
          </div>
        </div>

        <!-- item 3 -->
        <div class="card-item">
          <div class="info">
            <img
              src="./images/img/box-reason-main-3.png"
              alt="Cơ hội việc làm"
              class="image"
            />
            <div class="content">
              <p class="desc sub-title">Khám phá góc nhìn mới</p>
              <p class="desc">
                Giải quyết thử thách, sau đó xem cách người khác đã giải cùng
                một thử thách. Học hỏi kỹ thuật mới từ những lập trình viên giỏi
                nhất thế giới.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
