<div class="blog">
  <div class="main-content">
    <div class="blog-top">
      <p class="heading">Blog của chúng tôi</p>
      <p class="desc">Các tin tức mới nhất về CodeMaster</p>
    </div>
    <div class="blog-slider">
      <div class="blog-list">
        <!-- item 1 -->
        <div class="item">
          <a href="#!"
            ><img
              src="./images/img/study1.jpg"
              alt="How to become a pro web designer in 2022 and get remot job?"
              class="thumb"
          /></a>
          <div class="info">
            <span class="date">21 November 2021</span>
            <a href="#!"
              ><h3 class="title">
                How to become a pro web designer in 2022 and get remot job?
              </h3></a
            >
            <a href="#!" class="btn">Read More</a>
          </div>
        </div>

        <!-- item 2 -->
        <div class="item">
          <a href="#!"
            ><img
              src="./images/img/study2.jpg"
              alt="How to become a pro web designer in 2022 and get remot job?"
              class="thumb"
          /></a>
          <div class="info">
            <span class="date">21 November 2021</span>
            <a href="#!"
              ><h3 class="title">
                How to become a pro web designer in 2022 and get remot job?
              </h3></a
            >
            <a href="#!" class="btn">Read More</a>
          </div>
        </div>

        <!-- item 3 -->
        <div class="item">
          <a href="#!"
            ><img
              src="./images/img/study3.jpg"
              alt="How to become a pro web designer in 2022 and get remot job?"
              class="thumb"
          /></a>
          <div class="info">
            <span class="date">21 November 2021</span>
            <a href="#!"
              ><h3 class="title">
                How to become a pro web designer in 2022 and get remot job?
              </h3></a
            >
            <a href="#!" class="btn">Read More</a>
          </div>
        </div>

        <!-- item 4 -->
        <div class="item">
          <a href="#!"
            ><img
              src="./images/img/study2.jpg"
              alt="How to become a pro web designer in 2022 and get remot job?"
              class="thumb"
          /></a>
          <div class="info">
            <span class="date">21 November 2021</span>
            <a href="#!"
              ><h3 class="title">
                How to become a pro web designer in 2022 and get remot job?
              </h3></a
            >
            <a href="#!" class="btn">Read More</a>
          </div>
        </div>

        <!-- item 5 -->
        <div class="item">
          <a href="#!"
            ><img
              src="./images/img/study3.jpg"
              alt="How to become a pro web designer in 2022 and get remot job?"
              class="thumb"
          /></a>
          <div class="info">
            <span class="date">21 November 2021</span>
            <a href="#!"
              ><h3 class="title">
                How to become a pro web designer in 2022 and get remot job?
              </h3></a
            >
            <a href="#!" class="btn">Read More</a>
          </div>
        </div>

        <!-- item 6 -->
        <div class="item">
          <a href="#!"
            ><img
              src="./images/img/study1.jpg"
              alt="How to become a pro web designer in 2022 and get remot job?"
              class="thumb"
          /></a>
          <div class="info">
            <span class="date">21 November 2021</span>
            <a href="#!"
              ><h3 class="title">
                How to become a pro web designer in 2022 and get remot job?
              </h3></a
            >
            <a href="#!" class="btn">Read More</a>
          </div>
        </div>

        <!-- item 7 -->
        <div class="item">
          <a href="#!"
            ><img
              src="./images/img/study3.jpg"
              alt="How to become a pro web designer in 2022 and get remot job?"
              class="thumb"
          /></a>
          <div class="info">
            <span class="date">21 November 2021</span>
            <a href="#!"
              ><h3 class="title">
                How to become a pro web designer in 2022 and get remot job?
              </h3></a
            >
            <a href="#!" class="btn">Read More</a>
          </div>
        </div>

        <!-- item 8 -->
        <div class="item">
          <a href="#!"
            ><img
              src="./images/img/study1.jpg"
              alt="How to become a pro web designer in 2022 and get remot job?"
              class="thumb"
          /></a>
          <div class="info">
            <span class="date">21 November 2021</span>
            <a href="#!"
              ><h3 class="title">
                How to become a pro web designer in 2022 and get remot job?
              </h3></a
            >
            <a href="#!" class="btn">Read More</a>
          </div>
        </div>

        <!-- item 9 -->
        <div class="item">
          <a href="#!"
            ><img
              src="./images/img/study2.jpg"
              alt="How to become a pro web designer in 2022 and get remot job?"
              class="thumb"
          /></a>
          <div class="info">
            <span class="date">21 November 2021</span>
            <a href="#!"
              ><h3 class="title">
                How to become a pro web designer in 2022 and get remot job?
              </h3></a
            >
            <a href="#!" class="btn">Read More</a>
          </div>
        </div>
      </div>
</div>
      <div class="dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>
</div>
