<div class="features">
  <!-- features 1 -->
  <div class="main-content">
    <div class="body">
      <div class="images">
        <a class="lower" href="#!"
          ><img
            src="./images/img/features1.jpg"
            alt="Luyện tập mỗi ngày và không ngừng thử thách"
        /></a>
        <a href="#!"
          ><img
            src="./images/img/features2.jpg"
            alt="Luyện tập mỗi ngày và không ngừng thử thách"
        /></a>
      </div>
      <div class="content">
        <h2 class="heading">Luyện tập mỗi ngày và không ngừng thử thách</h2>
        <div class="desc">
          Hệ thống bài tập từ cơ bản đến nâng cao, kèm các thử thách có giới hạn
          thời gian giúp bạn rèn luyện kỹ năng thực chiến mỗi ngày.
        </div>
      </div>
    </div>
  </div>

  <!-- features 2 -->
  <div class="features features-2nd">
    <div class="main-content">
      <div class="body">
        <div class="images">
          <a href="#!"
            ><img
              src="./images/img/features3.png"
              alt="Tỏa sáng trên bảng xếp hạng và chinh phục thử thách cùng cộng đồng."
          /></a>
        </div>
        <div class="content">
          <h2 class="heading">
            Tỏa sáng trên bảng xếp hạng và chinh phục thử thách cùng cộng đồng.
          </h2>
          <p class="desc">
            Hệ thống xếp hạng ghi nhận những người học tích cực và hoàn thành
            nhiều thử thách nhất. Cạnh tranh lành mạnh để phát triển và ghi danh
            những nỗ lực của bạn.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
