<div class="footers">
  <div class="main-content">
    <div class="item-list">
      <!-- item 1 -->
      <div class="item">
        <a href="#!" class="logo"
          ><img src="/images/img/logo-web.png" alt="logo"
        /></a>
        <p class="desc sub-content">
          CodeMaster là nền tảng tương tác trực tuyến hỗ trợ người dùng học tập,
          thực hành, thi đấu và đánh giá kỹ năng lập trình.
        </p>

        <div class="social-links">
          <a href="#!" class="social-icon fb">
            <img src="/images/icon/facebook-icon.svg" alt="Facebook" />
          </a>
          <a href="#!" class="social-icon x">
            <img src="/images/icon/twitter-icon.svg" alt="Twitter" />
          </a>
          <a href="#!" class="social-icon in">
            <img src="/images/icon/instagram-icon.svg" alt="Instagram" />
          </a>
          <a href="#!" class="social-icon ytb">
            <img src="/images/icon/youtube-icon.svg" alt="Youtube" />
          </a>
        </div>
      </div>

      <!-- item 2 -->
      <div class="item">
        <p class="desc main">Chăm sóc khách hàng</p>
        <p class="desc">Hướng dẫn sử dụng</p>
        <p class="desc">Chính sách bảo mật</p>
        <p class="desc">Chính sách bảo hành</p>
        <p class="desc">Chính sách khách hàng</p>
        <p class="desc">Điều khoản sử dụng</p>
      </div>

      <!-- item 3 -->
      <div class="item">
        <p class="desc main">Tính năng</p>
        <p class="desc">Luyện tập</p>
        <p class="desc">Khóa học</p>
        <p class="desc">Thử thách</p>
        <p class="desc">Xếp hạng</p>
        <p class="desc">Chia sẻ</p>
      </div>

      <!-- item 4 -->
      <div class="item">
        <p class="desc main">Về chúng tôi</p>
        <p class="desc">Giới thiệu</p>
        <p class="desc">Điều khoản sử dụng</p>
        <p class="desc">Trợ giúp</p>
      </div>

      <!-- item 5 -->
      <div class="item">
        <p class="desc main">Thông tin liên hệ</p>
        <p class="desc"><strong>Phone:</strong> +123456789</p>
        <p class="desc"><strong>Email:</strong> support@codemaster.io</p>
        <p class="desc"><strong>Location:</strong> Đường ABC Khu 99</p>
      </div>
    </div>
  </div>
</div>
