<!-- partials/hero.ejs -->
<div class="hero">
  <div class="main-content">
    <div class="body">
      <!-- hero left -->
      <div class="media-block">
        <img src="./images/img/hero-img.jpg" alt="Learn Code" class="img" />
      </div>

        <!-- hero right -->
        <div class="content-block">
          <h1 class="heading">Học code không khó, chỉ cần bạn bắt đầu.</h1>
          <p class="desc">
           + Code mỗi ngày, giỏi từng giây.
        </p>
        <p class="desc">
            + Học lập trình – Bắt đầu từ hôm nay.
        </p>
          <div class="cta-group">
            <a href="/practice" class="btn hero-cta">Học Ngay <img src="./images/icon/next.png" alt="next"></a>
          </div>
          <p class="desc desc-recent">Số lượng học viên hiện tại</p>
          <!-- alt shift nút xuống để copy -->
          <p class="desc desc-stats">
            <strong>00K</strong> Học viên <strong>00+</strong> Khóa học
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
